<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render 'spree/shared/error_messages', :target => @product_customization_type%>

<%= form_for(@product_customization_type, :url => admin_product_customization_types_url) do |f| %>
  <fieldset>
    <legend><%= Spree.t("new_product_customization_type") %></legend>
    <%= render :partial => "form", :locals => { :f => f } %>

    <div class="form-buttons filter-actions actions">
      <%= button Spree.t("actions.create"), 'icon-ok' %>
      <span class='or'><%= Spree.t("or") %></span>
      <%= button_link_to Spree.t("actions.cancel"), admin_product_customization_types_url, :icon => 'icon-remove' %>
    </div>
  </fieldset>
<% end %>
