<tr class="option_value fields" id="<%= spree_dom_id(f.object) %>">
  <td class="no-border"><span class="handle"></span></td>
  <td class='name'><%= f.object.option_value.name %></td>
  <td class='presentation'><%= f.object.option_value.presentation %></td>
  <td class='price_modifier'><%= f.text_field :price_modifier %></td>
  <td class='cost_price_modifier'><%= f.text_field :cost_price_modifier %></td>
  <td><%= f.check_box :selected %></td>
  <td class="actions"><%= link_to_delete nil, :url => admin_ad_hoc_option_value_path(f.object), :no_text => true %></td>
</tr>
